@import ../styles

// NAVBAR
.navbar, .navbar-burger, .navbar-menu
  background-color: $secondary

#user-pic
  border-radius: 50%
  top: -3px
  display: inline-block
  background-image: url('/assets/images/profile_placeholder.png')
  background-repeat: no-repeat
  width: 40px
  height: 40px
  background-size: 40px
  border-rfadius: 20px

#user-name
  font-size: 16px
  line-height: 36px
  padding-right: 10px
  padding-left: 10px

.sign-in-icon
  font-size: 1.5em
  margin-right: 5px

// MESSAGE BOX
.submit-button
  background-color: $secondary
  height: 100%

.messages-container
  margin-top: 15vh

.messages-card
  border-radius: 5px
  overflow-y: auto
  margin-bottom: 10px
  height: 50vh

.message-container
  margin-top: 15px
  .pic
    background-image: url('/assets/images/profile_placeholder.png')
    background-repeat: no-repeat
    width: 30px
    height: 30px
    background-size: 30px
    border-radius: 20px
  .spacing
    display: table-cell
    vertical-align: top
  .message
    display: table-cell
    width: calc(100% - 40px)
  .name
    display: inline-block
    width: 100%
    padding-left: 40px
    color: #bbb
    font-style: italic
    font-size: 12px
    box-sizing: border-box

.message img
  max-width: 300px
  max-height: 200px

@media screen and (max-width: 1023px)
  .messages-container
    margin-right: 2vh
    margin-left: 2vh

  .user-item
    text-align: center
